body {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 40px;
}
h4 {
  text-align: center;
  margin: 0;
  font-size: 12px;
  margin-bottom: 5px;
}
.option {
  margin-bottom: 60px;
}
.dot-container {
  position: relative;
  width: 96px;
  padding: 18px 0;
  border: 1px #F2F2F2 solid;
}
.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.dot:first-child {
  margin-left: 6px;
}

.dot:last-child {
  margin-right: 6px;
}

span {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
}

span:nth-of-type(1) {
  background: #CBD7D9;
  z-index: 1;
}
span:nth-of-type(2) {
  background: #8AC2D9;
  z-index: 10;
  transform: scale(0);
  transition: 800ms cubic-bezier(0.23,1,.32,1);
}
span:nth-of-type(3) {
  border: 2px #5FA8C8 solid;
  top: -2px;
  left: -2px;
  opacity: 0;
}
.active {
  pointer-events: none;
}

.active span:nth-of-type(1) {
  background: #5FA8C8;
}
.active span:nth-of-type(3) {
  opacity: 1;
  -webkit-animation: scaling 1500ms cubic-bezier(0.23,1,.32,1) infinite;
}
.current span:nth-of-type(2) {
  transform: scale(1.1);
  background: #ABD2E2;
}

.two .active span:nth-of-type(3) {
  -webkit-animation: scaling 1800ms cubic-bezier(0.23,1,.32,1) infinite;
}
.two .current span:nth-of-type(2) {
  transition: 1000ms cubic-bezier(0.23,1,.32,1);
}

.three .active span:nth-of-type(3) {
  -webkit-animation: scaling2 1500ms cubic-bezier(0.23,1,.32,1) infinite;
}
.three .current span:nth-of-type(2) {
  transition: 1200ms cubic-bezier(0.23,1,.32,1);
}

.four .active span:nth-of-type(3) {
  -webkit-animation: scaling2 1800ms cubic-bezier(0.23,1,.32,1) infinite;
}
.four .current span:nth-of-type(2) {
  transition: 1400ms cubic-bezier(0.23,1,.32,1);
}


/* Keyframes */

@-webkit-keyframes scaling {
From {
    opacity: 1;
    -webkit-transform: scale(0.9);
}
To {
    opacity: 0;
    -webkit-transform: scale(2.0);
  }
}

@-webkit-keyframes scaling2 {
From {
    opacity: 1;
    -webkit-transform: scale(0.9);
}
To {
    opacity: 0;
    -webkit-transform: scale(1.6);
  }
}
